In [ ]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
import gdown

# Downloading numero COL
numero_file_id = '1AU2-4P_qRSp-OnEskYJnCTrzbUaOpkPR'
gdown.download(f'https://drive.google.com/uc?id={numero_file_id}', 'numbeo_cost_of_living_index.csv', quiet=False)
# Downloading zillow COL
zillow_file_id = '1M06W33JmAEZbK6EAnnd5cfnn9f02rxxk'
gdown.download(f'https://drive.google.com/uc?id={zillow_file_id}', 'zillow_home_values.csv', quiet=False)
# Downloading health
health_file_id = '1Q1ykfW28vS3Ew58SE3kB5GiWu7FkGl6V'
gdown.download(f'https://drive.google.com/uc?id={health_file_id}', 'cdc_local_health_data.csv', quiet=False)
# Downloading schools
private_school_file_id = '1nP9a7YTVGZgZhk60thsBepR_GVOiY2Vs'
gdown.download(f'https://drive.google.com/uc?id={private_school_file_id}', 'Private_Schools.csv', quiet=False)
public_school_file_id = '1L-SLdd1Zfvh4wBfL3bDkAgxtUhPHG206'
gdown.download(f'https://drive.google.com/uc?id={public_school_file_id}', 'Public_Schools.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1AU2-4P_qRSp-OnEskYJnCTrzbUaOpkPR
To: /content/numbeo_cost_of_living_index.csv
100%|██████████| 12.2k/12.2k [00:00<00:00, 23.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1M06W33JmAEZbK6EAnnd5cfnn9f02rxxk
To: /content/zillow_home_values.csv
100%|██████████| 85.4M/85.4M [00:00<00:00, 231MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Q1ykfW28vS3Ew58SE3kB5GiWu7FkGl6V
To: /content/cdc_local_health_data.csv
100%|██████████| 56.1M/56.1M [00:01<00:00, 46.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1nP9a7YTVGZgZhk60thsBepR_GVOiY2Vs
To: /content/Private_Schools.csv
100%|██████████| 14.2M/14.2M [00:00<00:00, 120MB/s]
Downloading...
From: https://drive.google.com/uc?id=1L-SLdd1Zfvh4wBfL3bDkAgxtUhPHG206
To: /content/Public_Schools.csv
100%|██████████| 43.4M/43.4M [00:00<00:00, 79.2MB/s]

'Public_Schools.csv'

In [ ]:
# Read the CSV
import pandas as pd
numero_DB = pd.read_csv('numbeo_cost_of_living_index.csv')
zillow_DB = pd.read_csv('zillow_home_values.csv')
health_DB = pd.read_csv('cdc_local_health_data.csv')
private_schools = pd.read_csv('Private_Schools.csv')
public_schools = pd.read_csv('Public_Schools.csv')

/var/folders/29/x0y631pn7rz5mp2yrd35gjm00000gn/T/ipykernel_84854/382133584.py:5: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  health_DB = pd.read_csv('cdc_local_health_data.csv')

In [ ]:
from titlecase import titlecase
import re
import numpy as np

In [ ]:
numbeo_DB = pd.read_csv('numbeo_cost_of_living_index.csv')

# Drop 'Rank' column
cleaned_numbeo = numbeo_DB.drop(columns=['Rank'])

# Split 'City' into 'City' and 'Country'
city_country_split = cleaned_numbeo['City'].str.split(',', n=1, expand=True)
cleaned_numbeo['City'] = city_country_split[0].str.strip()
cleaned_numbeo['Country'] = city_country_split[1].str.strip().fillna(np.nan)  # Fill missing countries with 'null'

# Now split 'Country' into 'State' and 'Country' only for rows with a comma in 'Country'
# This avoids accidentally modifying valid country names
state_country_split = cleaned_numbeo['Country'].str.split(',', n=1, expand=True)

# Update 'State' and 'Country' only if there's a comma
cleaned_numbeo['State'] = state_country_split[0].where(cleaned_numbeo['Country'].str.contains(','), None)
cleaned_numbeo['Country'] = state_country_split[1].fillna(cleaned_numbeo['Country']).str.strip()

# Display the cleaned DataFrame with selected columns
cleaned_columns = ['City', 'Country', 'Cost of Living Index', 'Rent Index', 'Cost of Living Plus Rent Index',
                   'Groceries Index', 'Restaurant Price Index', 'Local Purchasing Power Index']
cleaned_numbeo = cleaned_numbeo[cleaned_columns]

In [ ]:
cleaned_numbeo.isna().sum().sum()

0

In [ ]:
print(len(cleaned_numbeo), cleaned_numbeo.apply(lambda x: (x['City'], x['Country']), axis=1).nunique())

218 218

In [ ]:
cleaned_numbeo.to_csv("cost_of_living.csv", index=False)

In [ ]:
cleaned_numbeo['Cost of Living Plus Rent Index'].min()

11.3

In [ ]:
cleaned_numbeo = cleaned_numbeo.drop(columns="State")

In [ ]:
cleaned_zillow = zillow_DB[['SizeRank', 'RegionName', 'CountyName', 'State', '2024-09-30']].dropna()
cleaned_zillow = cleaned_zillow.rename(columns={'RegionName': 'City', '2024-09-30': 'HomePrice'})
cleaned_zillow

       SizeRank         City          CountyName State      HomePrice
0             0     New York       Queens County    NY  757539.748841
1             1  Los Angeles  Los Angeles County    CA  950031.781195
2             2      Houston       Harris County    TX  265842.211207
3             3      Chicago         Cook County    IL  294789.100621
4             4  San Antonio        Bexar County    TX  254032.290605
...         ...          ...                 ...   ...            ...
21528     30116   Jumpertown     Prentiss County    MS  123656.266913
21529     30116   Dollar Bay     Houghton County    MI  142639.223189
21530     30116  Fort Howard    Baltimore County    MD  324701.135018
21531     30116   Hoisington       Barton County    KS   82661.735966
21532     30116  Martin City     Flathead County    MT  549400.210617

[21533 rows x 5 columns]

In [ ]:
cleaned_zillow['City'].nunique()

13948

In [ ]:
# Primary Key
duplicate_combinations = cleaned_zillow.groupby(['City', 'CountyName', 'State']).count().reset_index().sort_values(by = 'HomePrice', ascending = False)

duplicate_combinations

             City        CountyName State  SizeRank  HomePrice
0      Aaronsburg     Centre County    PA         1          1
14353       Omega   Colquitt County    GA         1          1
14361    Onalaska       Polk County    TX         1          1
14360    Onalaska      Lewis County    WA         1          1
14359    Onalaska  La Crosse County    WI         1          1
...           ...               ...   ...       ...        ...
7176     Garfield    Emanuel County    GA         1          1
7175     Garfield    Douglas County    MN         1          1
7174     Garfield   Dona Ana County    NM         1          1
7173     Garfield     Bergen County    NJ         1          1
21532      Zwolle     Sabine Parish    LA         1          1

[21533 rows x 5 columns]

In [ ]:
cleaned_zillow = cleaned_zillow.sort_values("SizeRank").drop_duplicates(subset="City", keep="first")

In [ ]:
cleaned_zillow = cleaned_zillow.drop(columns=["CountyName", "State", "SizeRank"])

In [ ]:
cleaned_zillow.to_csv("zillow_home_prices.csv", index=False)

In [ ]:
health_DB = pd.read_csv('cdc_local_health_data.csv')

/var/folders/29/x0y631pn7rz5mp2yrd35gjm00000gn/T/ipykernel_84854/3032519471.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  health_DB = pd.read_csv('cdc_local_health_data.csv')

In [ ]:
cleaned_health_DB = health_DB[['LocationName', 'StateAbbr', 'TotalPopulation', 'TotalPop18plus', 'Geolocation', 'Measure', 'MeasureId',
                               'Data_Value']].dropna()

cleaned_health_DB = cleaned_health_DB.rename(columns={'StateAbbr': 'State', 'LocationName': 'Location', 'Data_Value': 'Percent'}).sort_values("TotalPopulation", ascending=False).drop_duplicates(subset=['Location', 'State', 'Measure'], keep="first")

In [ ]:
cleaned_health_DB = cleaned_health_DB.drop(columns=["State", "MeasureId", "TotalPopulation", "TotalPop18plus", "Location"], errors="ignore")

In [ ]:
cleaned_health_DB["Longitude"] = cleaned_health_DB["Geolocation"].apply(lambda x: float(x.split()[1][1:]))
cleaned_health_DB["Latitude"] = cleaned_health_DB["Geolocation"].apply(lambda x: float(x.split()[2][:-1]))

In [ ]:
cleaned_health_DB = cleaned_health_DB.drop(columns=["Geolocation"])

In [ ]:
cleaned_health_DB.columns

Index(['Measure', 'Percent', 'Longitude', 'Latitude'], dtype='object')

In [ ]:
cleaned_health_DB.to_csv("cleaned_cdc_local_health_data.csv", index=False)

In [ ]:
cleaned_public_schools = public_schools[['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'LEVEL_', 'ENROLLMENT', 'FT_TEACHER']].dropna()
cleaned_public_schools['TYPE'] = 'public'

cleaned_private_schools = private_schools[['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'LEVEL_', 'ENROLLMENT', 'FT_TEACHER']].dropna()
cleaned_private_schools['TYPE'] = 'private'

cleaned_schools = pd.concat([cleaned_public_schools, cleaned_private_schools], ignore_index =True)
cleaned_schools = cleaned_schools.rename(columns={'LEVEL_': 'LEVEL'})

cleaned_schools.drop(cleaned_schools[cleaned_schools['ENROLLMENT'] < 1].index, inplace=True)

cleaned_schools.drop_duplicates(subset=['NAME', 'CITY', 'ENROLLMENT'], inplace=True)

cleaned_schools

,NAME,ADDRESS,CITY,STATE,ZIP,LEVEL,ENROLLMENT,FT_TEACHER,TYPE
0,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,HIGH,112,11,public
1,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,ELEMENTARY,495,45,public
2,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,ELEMENTARY,478,25,public
3,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,ELEMENTARY,958,51,public
4,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,HIGH,2294,115,public
...,...,...,...,...,...,...,...,...,...
133390,NORTHWEST PASSAGE,7818 MOLINE RD,WEBSTER,WI,54893,2,23,2,private
133391,RHINELANDER CHRISTIAN SCHOOL,123 E MONICO,RHINELANDER,WI,54501,1,12,1,private
133392,BIG HORN CHRISTIAN ELEMENTARY SCHOOL,201 ASPEN DR,BUFFALO,WY,82834,2,2,1,private
133393,COLTER HIGH SCHOOL,1550 US HIGHWAY 20 S,WORLAND,WY,82401,2,59,8,private
133394,SOUTHEASTERN WYOMING JUVENILE CENTER,3304 I80 SERVICE RD,CHEYENNE,WY,82009,2,16,5,private

In [ ]:
# Primary Key
duplicate_combinations = cleaned_schools.groupby(['NAME', 'CITY', 'ENROLLMENT']).count().reset_index().sort_values(by = 'TYPE', ascending = False)

duplicate_combinations

,NAME,CITY,ENROLLMENT,ADDRESS,STATE,ZIP,LEVEL,FT_TEACHER,TYPE
0,'HMAN'SHAWA DAY SCHOOL,FT M C DOWELL,23,1,1,1,1,1,1
85108,PENN VALLEY EL SCH,LEVITTOWN,408,1,1,1,1,1,1
85121,PENN-KIDDER CAMPUS,ALBRIGHTSVILLE,686,1,1,1,1,1,1
85120,PENN-GRIFFIN SCHOOLS,HIGH POINT,599,1,1,1,1,1,1
85119,PENN'S GROVE SCH,OXFORD,622,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
42552,GREATER SAN DIEGO ACADEMY,JAMUL,245,1,1,1,1,1,1
42551,GREATER QUINCY CHILD CARE CENTER,QUINCY,10,1,1,1,1,1,1
42550,GREATER PORTLAND CHRISTIAN SCHOOL,SOUTH PORTLAND,125,1,1,1,1,1,1
42549,GREATER PORTLAND CHRISTIAN ACADEMY,PORTLAND,69,1,1,1,1,1,1
127669,ZWOLLE HIGH SCHOOL,ZWOLLE,335,1,1,1,1,1,1

In [ ]:
cleaned_schools["ID"] = cleaned_schools.index

In [ ]:
cleaned_schools['ENROLLMENT'].median()

353.0

In [ ]:
def custom_callback(word, **kwargs):
    # Words to force lowercase
    exceptions = {"de", "del", "la", "las", "les", "le", "il", "los", "el", "al", "sul", "delle"}

    # Otherwise, lowercase it if it's in the exceptions list
    if word.lower() in exceptions:
        return word.lower()

    # Default handling for other words
    return None

In [ ]:
cleaned_schools[cleaned_schools["NAME"].apply(lambda x: "'" in x)]

,NAME,ADDRESS,CITY,LEVEL,ENROLLMENT,FT_TEACHER,TYPE,ID
146,T'iis Nazbas Community School,P.O. Box 2002,Teec Nos Pos,Elementary,184,-999,Public,146
299,Int'l Leadership of Texas MS-N Richland Hills,4131 Rufe Snow DR,N Richland Hills,Middle,397,27,Public,299
533,Madison's Trust Elementary,42380 Creighton Rd,Ashburn,Elementary,994,50,Public,533
1125,St. Andrew's School of Math and Science,30 Chadwick Drive,Charleston,Elementary,807,49,Public,1125
1487,Kay's Creek Elementary,2260 W Island Dr.,Kaysville,Elementary,667,-999,Public,1487
...,...,...,...,...,...,...,...,...
133333,Winwood Children's Center,12301 Lee Jackson Memorial Hwy,Fairfax,1,10,2,Private,133333
133334,Winwood Children's Center Iii,1841 Explorer St,Reston,1,99,2,Private,133334
133368,St Mary's Academy,757 138th St S,Tacoma,1,35,4,Private,133368
133383,Calvary's Christian Academy,510 E Burleigh St,Milwaukee,1,28,5,Private,133383
133384,Children's House of Manitowoc,4020 Memorial DR,Two Rivers,1,4,1,Private,133384

In [ ]:
def case(word):
    w = titlecase(word, callback=custom_callback)
    w = w[0].upper() + w[1:]

    wl = re.split(r', |; | |-|/|\\| \(|\) | - |--| -- | @ |@', w)

    # Filtering out any empty tokens resulting from the split
    wl = [token for token in wl if token]

    # Capitalize the last token and reconstruct the string
    if wl:  # Ensure wl is not empty
        last_token = wl[-1][0].upper() + wl[-1][1:]

        w = w[:w.rfind(wl[-1])] + last_token

    return w

In [ ]:
cleaned_schools = cleaned_schools.drop(columns=["STATE", "ZIP"], errors="ignore")

In [ ]:
for c in ["NAME", "ADDRESS", "CITY", "TYPE"]:
    cleaned_schools[c] = cleaned_schools[c].apply(case)
    print(c)

NAME
ADDRESS
CITY
TYPE

In [ ]:
cleaned_schools["LEVEL"] = cleaned_schools["LEVEL"].apply(lambda x: str(x))

In [ ]:
cleaned_schools["ADDRESS"] = cleaned_schools["ADDRESS"].apply(lambda x: x.title())

In [ ]:
cleaned_schools["ADDRESS"]

0             9604 Illinois St
1              4420 Denver Ave
2           965 Grizzly Cub Dr
3           22700 S. Power Rd.
4           24901 S. Power Rd.
                  ...
133390          7818 Moline Rd
133391            123 E Monico
133392            201 Aspen Dr
133393    1550 Us Highway 20 S
133394     3304 I80 Service Rd
Name: ADDRESS, Length: 127670, dtype: object

In [ ]:
cleaned_schools.to_csv("schools.csv", index=False)

For all: drop null rows.

Cleaning numero: Delete extra rank column, separate city column into city + country columns.

Cleaning zillow: Drop not needed columns, only include most recent median home prices as of (2024-9-30), rename columns.

Cleaning health: Drop not needed columns, rename columns.

Cleaning schools: Drop not needed columns, rename columns. Add a 'TYPE' column to each DataFrame to indicate public or private. Concatenate the DataFrames.

In [ ]:
from google.colab import files
cleaned_numbeo.to_csv('cleaned_numbeo_cost_of_living_index.csv', index=False)
files.download('cleaned_numbeo_cost_of_living_index.csv')

# cleaned_zillow.to_csv('cleaned_zillow_home_prices.csv', index=False)
# files.download('cleaned_zillow_home_prices.csv')

# cleaned_health_DB.to_csv('cleaned_cdc_local_health_data.csv', index=False)
# files.download('cleaned_cdc_local_health_data.csv')

# cleaned_schools.to_csv('cleaned_schools.csv', index=False)
# files.download('cleaned_schools.csv')